{% macro post_card(post) -%}
    <div class="post-card">
        <span style="font-size: 120%"><a href="{{ post.url }}">{{ post.meta.title }}</a></span>
        <div style="display: flex; gap: 4px; color: #777777;">
            <span>Date: {{ post.meta.date }}</span>
            <span>Tags: {{ post.meta.tags }}</span>
{#            <span>File: {{ post.basename_without_ext }}</span>#}
        </div>
        <div style="color: #777777">
            {{ post.unmarked_content | truncate(200) }}
        </div>
    </div>
{%- endmacro %}