{% extends "base.html" %}

{%- block title %}
    <title>aoike - {% if meta.title %}{{ meta.title }}{% endif %}</title>
{%- endblock %}


{% block content %}
    <h1>{{ meta.title }}</h1>
    Create: {{ meta['create'] }}<br/>
    Update: {{ meta['update'] }}<br/>
    {% if meta.tags | length %}
        <div style="display: flex; gap: 2px;">
            Tags: {% for tag in meta.tags %}
            <span>{{ tag }}</span>
        {% endfor %}
        </div>
    {% endif %}
    {{ content }}
    {% include "components/comment.html" %}
{% endblock %}
