@import "variables.css";

.highlight {
    display: block;
    overflow-x: auto;
}

.linenos pre {
    font-family: var(--font-family-mono)!important;
}

.code pre code {
    font-family: var(--font-family-mono)!important;
}

td.code pre {
    line-height: inherit!important;
}

.highlighttable {
    display: flow-root;
    margin: 1em 0;
}

.highlighttable tbody {
    display: block;
    flex: 1;
}

.highlighttable tr {
    display: flex;
}

.highlighttable .code {
    display: flex;
    flex: 1;
}

/*th.filename {*/
/*    text-align: start;*/
/*}*/

/*pre {*/
/*    line-height: 110%;*/
/*}*/