@import "variables.css";

.highlight {
    overflow-x: auto;
}

.linenos pre {
    font-family: var(--font-family-mono)!important;
}

.code pre code {
    font-family: var(--font-family-mono)!important;
}

td.code pre {
    line-height: inherit!important;
}

/*th.filename {*/
/*    text-align: start;*/
/*}*/

/*pre {*/
/*    line-height: 110%;*/
/*}*/